body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color:#546A7B;
}

.main-header {
    padding: 20px 0;
    margin: auto;
    text-align: center;
    /*color: #E4C3AD*/

}

.thumb-size {
    max-width: 30%;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}



.site-footer{
    padding: 20px 0;
}

.header-gradient{
    background-image: linear-gradient(45deg,#0D1F2d, #6577a3);
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.card-focus {
    font-family: "Source Sans Pro";
    position: relative;
    transition: inset 250ms ease;
    top: 0;
}

.card-focus:hover {
    top: -1rem;
}

.review-img {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.bi-star-fill, .bi-star-half {
    color: goldenrod;
}

.site-footer a {
    color: #e4c3ad;
    text-shadow: #0D1F2d;
}

@media (max-width: 678px) {
    
    .card-focus:hover {
        /* Disable Card hover effect on mobile */
        top: 0;
    }
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    /* position: absolute; */
    /* left: 0;
    right: 0;
    bottom: 0;
    z-index: 10; */
    /* padding: 0 0 10px 25px; */
    color: #fff;
    /* text-align: left; */
}

.carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
}