html {
    scroll-behavior: smooth;
}


body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color:#546A7B;
}

.site-header {
    background-color: #546A7B;
}

.site-nav {
    background-color: #546A7B;
    position: relative;
    font-family: "Source Sans Pro";
}

.navbar-brand {
    position: absolute;
    width: fit-content;
    inset: 0;
    margin: auto;
    height: fit-content;
}

.navbar-brand::after {
    content: "";
    height: 3px;
    background-color: #546A7B;
    width: 0%;
    top: 90%;
    left: 0%;
    position: absolute;
    transition: width 250ms, left 250s;
    border-radius: 20px;
}

.navbar-brand:hover::after {
    width: 100%;
}


.hero {
    font-family: "source sans pro", sans-serif;
    background-image: linear-gradient(rgba(0,0,10,0.5), rgba(0,10,20,0.7)), url("img/nz1-crop.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center;
}
.main-header {
    padding: 20px 0;
    margin: auto;
    text-align: center;
    /*color: #E4C3AD*/

}

.thumb-size {
    max-width: 30%;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.site-footer{
    padding: 20px 0;
}

.header-gradient{
    background-image: linear-gradient(45deg,#0D1F2d, #9EA3B0);
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.card-focus {
    font-family: "Source Sans Pro";
    position: relative;
    transition: inset 250ms ease;
    top: 0;
}

.card-focus:hover {
    top: -1rem;
}

.review-img {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.bi-star-fill, .bi-star-half {
    color: goldenrod;
}

.travel-news {
    padding-inline: 1rem;
    font-family: "Source Sans Pro", sans-serif;
}
.article-img {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
}

.topic {
    user-select: none;
    padding-inline: 1rem;
    padding-block: .33rem;
    border-radius: 1rem;
}

.topic-primary {
    background-color: rgb(137, 220, 255);
    color: rgb(22, 22, 255);
}

.topic-visa {
    background-color: rgb(79, 128, 128);
    color: rgb(221, 255, 255);
}

.topic-sponsor {
    background-color: rgb(219, 185, 99);
    color: beige;
}
@media (max-width: 678px) {
    
    .card-focus:hover {
        /* Disable Card hover effect on mobile */
        top: 0;
    }
}

@media (max-width: 992px) {
    .navbar-brand {
        margin: 0;
        position: relative;
        inset: 1;
    }
}